// nabu theme
$theme-primary: #D1D5DB !default;
$theme-primary-light: #F4F5F6 !default;
$theme-primary-medium: #E9E9ED !default;
$theme-primary-dark: #636D7E !default;
$theme-primary-text: #000000 !default;
$theme-primary-prompt: #aaaaaa !default;
$theme-primary-text-unfocused: #666666 !default;
$theme-primary-filler: #ffffff !default;

$theme-secondary: #40474F !default;
$theme-secondary-light: #636D7E !default;
$theme-secondary-dark: #1C1E22 !default;
$theme-secondary-text: #F4F4F6 !default;
$theme-secondary-text-unfocused: #C7CAD1 !default;

$theme-filler: #ffffff !default;
$theme-background: #f5f5f6 !default;



$primary-wiki-color: $theme-primary;
$primary-wiki-color-dark: $theme-primary-dark;
$wiki-background-color: $theme-filler;
$menu-height: 100vh !default;
$menu-width: 20vw !default;
$menu-min-width: 300px !default;
$toc-width: 350px !default;

// the background color of the menu itself
$wiki-menu-main-background: $theme-primary-medium;
// the border color of the menu
$wiki-menu-main-border: $theme-primary;
// the background color of (main) titles
$wiki-menu-title-background: $theme-secondary-light;
$wiki-menu-title-color: white;
// the background of the article titles
$wiki-menu-title-background-article: $theme-primary-light;
$wiki-menu-title-color-article: $theme-secondary;

[route="wiki-search"] {
	padding: 2rem;
	.search, .results {
		padding: 0 2rem;
		.small {
			color: #aaa;
			font-size: 0.8rem;
			margin-left: 0.7rem;
		}
	}
	.search {
		justify-contents: center;
		text-align: center;
		input {
			max-width: 30rem;
			margin-top: 10vh;
		}
	}
	.search-results {
		th {
			text-align: left;
		}
		.search-results-path {
			display: block;
			color: #aaa;
		}
		.search-results-tags {
			display: block;
			margin-top: 0.3rem;
			span {
				display: inline-block;
				padding: 0.3rem 0.7rem;
				color: $theme-secondary-text;
				background-color: $theme-secondary-light;
				font-size: 0.7rem;
				border-radius: 5px;
				+span {
					margin-left: 0.3rem;
				}
			}
		}
		.search-results-title {
			color: #333;
		}
	}
}

// unset default dashboard styling?
// could also just start from plato without dashboard...
.page-row.wiki-container {
	padding: 0;
	margin: 0;
	.page-cell {
		margin: 0 !important;
		padding: 0 !important;
		background-color: transparent !important;
	}
}

body {
	background-color: $wiki-background-color !important;
	min-height: 100vh;
}
// make sure it overflows correctly
#wiki-content {
	margin-left: $menu-width;
}
.wiki-menu-container {
	position: fixed;
}

// the container for the menu
.wiki-menu-container {
	width: $menu-width;
	border-right: solid 2px $wiki-menu-main-border;
	
	.search-container {
		display: flex;
		padding: 0.7rem;
		button {
			border: none;
			padding: 0.3rem 0.7rem;
			background-color: $theme-secondary-dark;
			color: $theme-secondary-text;
			border-radius: 5px;
			font-size: 0.9rem;
			text-transform: lowercase;
			margin-left: 0.3rem;
		}
	}
	.wiki-menu-search {
		height: 2rem;
		width: calc(100% - 2rem);
		input {
			height: 2rem;
			line-height: 2rem;
			margin: 0;
			width: 100%;
			border: solid 1px $theme-primary;
			padding: 0.7rem;
		}
	}
	
	> .wiki-menu {
		padding: 0;
		margin: 0;
		height: calc(#{$menu-height} - 3rem);
		-ms-overflow-style: none;  /* Internet Explorer 10+ */
	    scrollbar-width: none;  /* Firefox */
		&::-webkit-scrollbar { 
		    display: none;  /* Safari and Chrome */
		}
		
		overflow: auto;
		> .directory {
			> .title {
				padding: 0.7rem;
				background-color: $wiki-menu-title-background;
				display: block;
				.fa {
					margin-right: 0.7rem;
				}
			}
		}
		.wiki-menu {
			.directory {
				.title {
					color: $theme-secondary-dark;
					padding: 0.5rem;
					display: block;
					.fa {
						margin-right: 0.7rem;
						//color: #aaa;
						color: $theme-secondary-light;
					}
				}
			}
			// nested articles don't need this margin
			.article {
				margin-top: 0;
				&.selected .title {
					background-color: darken($primary-wiki-color, 20%);
					border-left: solid 7px darken($primary-wiki-color, 40%);
				}
			}
		}
		.directory {
			.title {
				cursor: pointer;
				.name {
					display: inline-block;
					&::first-letter {
						text-transform: uppercase;
					}
				}
			}
		}
		.title {
			.name {
				//font-weight: bold;
			}
		}
	}
}
.wiki-menu-root {
	position: relative;
	&.small {
		max-width: 12px !important;
		min-width: 12px !important;
		> li {
			display: none;
		}
		&:after {
			content: '>';
			position: absolute;
			top: 50%;
			left: 0;
			padding: 0.2rem;
			background-color: darken($primary-wiki-color, 15%);
			font-weight: bold;
			font-size: 0.7rem;
		}
	}
}
.page-actions.menu {
	background-color: #333 !important;
}
.wiki-menu {
	margin: 0;
	padding-left: 1.3rem;
	background-color: $wiki-menu-main-background;
	color: white;
	list-style-type: none;
	.article {
		> .title {
			padding: 0.3rem;
			display: block;
			.fa {
				margin-right: 0.7rem;
				//color: #aaa;
			}
			border-left: solid 7px darken($primary-wiki-color, 10%);
			background-color: $wiki-menu-title-background-article;
			padding-left: 0.7rem !important;
			color: $wiki-menu-title-color-article;
			//font-weight: bold;
		}
		&:last-child {
			//margin-bottom: 1rem;
		}
		&:first-child {
			//margin-top: 1rem;
		}
		+.article {
			> .title {
				// margin-top: 0.2rem;
				border-top: solid 2px lighten($primary-wiki-color, 10%);
			}
		}
	}
}
.wiki-article-container {
//	max-width: calc(1024px + 10rem);
	
	.wiki-article {
		// hide scrollbar
	    -ms-overflow-style: none;  /* Internet Explorer 10+ */
	    scrollbar-width: none;  /* Firefox */
		&::-webkit-scrollbar { 
		    display: none;  /* Safari and Chrome */
		}
		max-height: $menu-height;
		overflow: auto;
	}
	
	code {
		font-size: 0.8rem;
		font-family: Monospace;
		padding: 0 0.5rem;
		background-color: #eaeaea;
		border: solid 1px #ccc;
		margin: 0 0.2rem;
		border-radius: 5px;
	}
	img, video {
		max-width: 100%;
	}
	height: $menu-height;
	display: flex;

	.read-more {	
		.read-more-title {
			display: block;
			font-size: 0.7rem;
			text-transform: uppercase;
			color: $primary-wiki-color;
		}
	}
	ul.read-more-list {
		margin: 0;
		margin-top: 1rem;
		padding: 0;
		li {
			list-style-type: none;
			margin-top: 0.3rem;
			a {
				color: #666;
				cursor: pointer;
			}
		}
	}
	a.read-original {
		cursor: pointer;
		color: $primary-wiki-color;
		text-transform: uppercase;
		font-size: 0.7rem;
		.fa {
			margin-left: 0.3rem;
			&:before {
				font-size: 10px;	
			}
		}
	}
	
	.wiki-article, .inline-article {
		font-size: 1rem;
		> :last-child {
			margin-bottom: 10rem;
		}
		p {
			font-size: 1.1rem;
			color: $primary-wiki-color-dark;
		}
		em {
			font-weight: bold;
			font-style: normal;
		}
		li {
			+li {
				margin-top: 0.3rem;
			}
		}
		flex-grow: 1;
		padding: 2rem 5rem;
		max-width: calc(100vw - #{$menu-width} - #{$toc-width});
		overflow-wrap: break-word;
		strong {
			background-color: #fcf8e3;
			color: #8a6d3b;
			border: solid 1px #e8d8b8;
			font-weight: normal;
			padding: 0 0.3rem;
		}
		.message {
			strong {
				padding: 1rem;
				display: block;
			}
		}
		img, video {
			margin: 1rem 0;
			display: block;
			border: solid 1px #ccc;
		}
		
		blockquote {
			background-color: #fafafa;
			border: solid 1px #ccc;
			border-radius: 5px;
			margin: 1rem;
			padding: 0.3rem 1rem;
			* {
				font-family: Monospace;
				font-size: 0.9rem;
			}
			.fa:before {
				font-family: 'Font Awesome 5 Free';
				color: red;
			}
		}
		h1 {
			margin-top: 4rem;
		}
		h2 {
			font-size: 1.6rem;
			border: none;
			margin-top: 3rem;
		}
		h3 {
			margin-top: 2rem;
		}
		/* highlighting */
		.code-keyword {
			color: #7f0055;
		}
		.code-string {
			color: #0000FF;
		}
		.code-comment {
			color: #3f7f5f;
		}
		.xml-element {
			color: #008080;
		}
		.xml-attribute {
			color: #7f007f;
		}
		.code-label {
			font-weight: bold !important;
			color: #AAAAAA !important;
		}
		.code-method {
			color: #008080;	
		}
		.code-assign {
			color: #7f007f;	
		}
	}
	.wiki-toc {
		padding-left: 1rem;
		.wiki-toc-title {
			display: block;
			font-size: 0.9rem;
			cursor: pointer;
		}
		list-style-type: none;
		.toc-explanation {
			font-size: 0.7rem;
			text-transform: uppercase;
			color: $primary-wiki-color;
		}
	}
	> .wiki-toc {
		position: fixed;
		right: 2rem;
		min-width: $toc-width;
		max-width: $toc-width;
		margin: 2rem 0;
		>li {
			> .wiki-toc-title {
				//font-weight: bold;
				color: #333;
			}
			&:not(:first-child) {
				> .wiki-toc-title {
					margin-top: 1rem;
				}
			}
		}
		border: solid 1px #ccc;
		//background-color: #fafafa;
		box-shadow: 3px 3px 3px 3px #efefef;
		border-radius: 5px;
		padding: 2rem;
		.wiki-toc-title {
			color: #666;
		}
	}
	
	.fa-eye {
		color: #aaa;
		margin-left: 0.3rem;
	}
	.fa-info-circle, .fa-tag {
		color: $primary-wiki-color-dark;
		margin-right: 0.2rem;
	}
	
	.close-inline {
		position: absolute;
		top: 2rem;
		right: 2rem;
		cursor: pointer;
	}
	
	position: relative;
	.inline-article {
		position: absolute;
		background-color: white;
		padding: 2rem;
		border: solid 1px #ccc;
		max-width: 30rem;
		border-radius: 10px;
		font-size: 0.8rem;
		max-height: 30rem;
		overflow: auto;
		box-shadow: 4px 4px 4px 4px #ccc;
		h1 {
			font-size: 1.2rem;
		}
		h2 {
			font-size: 1.1rem;
		}
		h3 {
			font-size: 1rem;
		}
	}
	
	h1 {
		margin-top: 4rem;
	}
	.inline-article {
		h1 {
			margin-top: 1rem;
		}
	}
	h1 {
		color: $primary-wiki-color-dark;
		//text-decoration: underline;
		border-bottom: solid 1px $primary-wiki-color;
	}
	h2 {
		color: #333;
	}
	video {
		max-height: 400px !important;
	}
}

@include media("<=1280px") {
	.wiki-article {
		max-width: 100% !important;
	}
	.wiki-toc {
		display: none;
	}
}

@include media("<=tablet") {
	.wiki-toc {
		display: none !important;
	}
	.wiki-menu-root:not(.small) {
		width: 100vw;
	}
	.wiki-article {
		max-width: calc(100vw - 10px) !important;
		padding: 1rem 1.3rem !important;
		img {
			margin: 0;
			padding: 0;
		}
	}
}

@media print {
	.wiki-menu-container {
		display: none;
	}
	.wiki-toc, .wiki-menu, .page-actions.menu {
		display: none;
	}
	#wiki-content {
		margin-left: 0;
	}
	.wiki-article {
		overflow: visible !important;
		width: 100%;
		max-width: 100% !important;
	}
	.wiki-article-container {
		width: 100vw;
		margin: 0;
		padding:0;
	}
	h1 {
		page-break-before: always;
	}
	[page="wiki-index"] .page-row {
		display: block;
	}
	.fa-tag, .fa-eye {
		display: none;
	}
}